html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom right, papayawhip, paleturquoise);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.input-container {
  height: 100%;
  width: 100%;
}

.landing-page {
  width: 50%;
  height: 100%;
  margin: 12.5% auto;
}

.innerRow {
  margin: 2% 0;
}

.form-control {
  text-align: center;
}

.submit-button {
  width: 100%;
}

.show-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

.show-list {
  display: flex;
  height: 15%;
  width: 30%;
  margin: auto;
}

.show-list .artist-info {
  width: 25%;
  margin: auto;
}

.show-list .show-info {
  width: 75%;
}

.map-container {
  display: flex;
  justify-content: center;
  height: 100%
}

#map {
  /* height: 100%; */
  width: 100%;
}

/* Portrait */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .show-list {
    width: 95%;
    height: auto;
  }
}
